* {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;

}

div.container {
  max-width: 1500px;
}

#navbar-logo {
  width: 100px;
}

#navbar-storename {
  font-family: poppins, Arial, Helvetica, sans-serif;
  font-size: 20px;
  display: inline-block;
  vertical-align: middle;
  font-weight: bold;
  color: black;
}

a.nav-link {
  color: black !important;
  font-size: 16px;
}

a:hover {
  text-decoration: none;
}

a.nav-link:hover {
  color: #c0fef4 !important;
}

button.navbar-toggler {
  border-color: black !important;
}

#custom-toggler {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

@media (max-width: 350px) {
  #navbar-logo {
    width: 70px;
  }

  #navbar-storename {
    font-family: poppins, Arial, Helvetica, sans-serif;
    font-size: 18px;
    display: inline-block;
    vertical-align: middle;
  }
}
ul li a.cart .cart-basket {
    font-size: .8rem;
    position: absolute;
    top: -1px;
    right: -2px;
    width: 20px;
    height: 20px;
    color: #fff;
    background-color: black;
    border-radius: 50%;
}
