body {
  font-family: Arial;
  font-size: 14px;
}

.page-title {
  font-size: 24px;
  font-weight: bold;
}

.cart-header {
  /*background-color: #0040FF;*/
  background-color: #017ca7;
  color: white;
}

button[type="submit"] {
  background-color: blue;
  color: white;
  padding: 2px 10px;
  border: 0 none;
  font-weight: bold;
  font-size: 15px;
}

.bg-custom {
  background-color: #fec0cc;
}

div.catproduct-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 767px) {
  div.catproduct-img {
    display: block;
    margin-bottom: 15px;
  }
}
